# Lab | Inferential statistics - T-test & P-value

### Instructions

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

   In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
   Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

### Item 1

T-Test - Two Sample 

Used to compare means from the same group measured at two different times or under two different conditions. This is also called a paired t-test.

Import Libraries

In [2]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import statsmodels.api as sm
import statsmodels.formula.api as smf

Load Data

In [ ]:
# Leer el archivo .txt con forma encontrada por Fer
machine_df = pd.read_csv("C:/Users/dalmi/Documents/Espa√±a/Data Analytics - IronHack/Labs/Semana 4/lab-t-tests-p-values/files_for_lab/machine.txt",sep="\t", encoding="utf-16")
machine_df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [24]:
# Estandarizo los nombres de las columnas (en Old machine hay un espacio adelante que no se ve)
machine_df = machine_df.rename(columns={"New machine":"new_machine","    Old machine":"old_machine"})
machine_df

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

Define Hypotheses

H0: The mean packing time for new machine is equal to the mean packing time for old machine

H1: The mean packing time for new machine is smaller than the mean packing time for old machine

In [26]:
# Significance level
alpha = 0.05

In [29]:
#Difine a df for each machine times

new_machine = machine_df["new_machine"]

old_machine = machine_df["old_machine"]

In [27]:
# Perform two-sample t-test for independent samples
t_stat, p_value = st.ttest_ind(new_machine, old_machine, equal_var=False) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

Test Statistic (t): -3.40
P-Value: 0.0032

In [28]:
# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean packing time for new machine is equal to the mean packing time for old machine.")
else:
    print("Reject the Null Hypothesis: The mean packing time for new machine is smaller than the mean packing time for old machine.")

Reject the Null Hypothesis: The mean packing time for new machine is smaller than the mean packing time for old machine.